header {
  font-size: 0.6rem;
  font-family: "Josefin Slab", serif;
  color: white;
  position: fixed;
  top: 0.4rem;
  right: 0.4rem;
}

p {
  text-decoration: none;
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  margin: 0;
}

#header__link {
  cursor: pointer;
}

#header__link {
  cursor: pointer;
}
