header {
  font-family: "Raleway", sans-serif;
  font-size: 0.6rem;
  color: white;
  position: fixed;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 300;
}

ul {
  display: flex;
  justify-content: center;
  padding-left: 0.5rem;
}

ul p {
  margin: 0;
}

p {
  text-decoration: none;
  padding-top: 0.4rem;
  padding-left: 0.5rem;
  padding-top: 0;
}

#header__link {
  cursor: pointer;
}
