.homePage__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5%;
}

h1,
h2,
h3 {
  font-family: "Space Mono", monospace;
  padding: 0;
  margin: 0;
  color: black;
}

h1 {
  font-size: 5.4rem;
}

h2 {
  font-size: 2.4rem;
  padding-bottom: 0.6rem;
}

h3 {
  font-size: 0.6rem;
  font-weight: normal;
}

#homePage__avatar {
  width: 3rem;
  height: 3rem;
  border: 0.5rem solid black;
  border-radius: 4rem;
  margin-top: 1rem;
}

#homePage__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.homePage__links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 2.6rem;
}

.fa-envelope,
.fa-github {
  padding-top: 0.6rem;
  font-size: 0.8rem;
  color: black;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .homePage__links {
    width: 2rem;
  }

  .fa-envelope,
  .fa-github {
    padding-top: 0.6rem;
    font-size: 0.6rem;
  }

  .material-icons {
    font-size: 0.6rem;
    padding-top: 0.6rem;
  }

  .homePage__main {
    padding-top: 15%;
  }

  #homePage__avatar {
    width: 2rem;
    height: 2rem;
    border: 0.4rem solid black;
    border-radius: 4rem;
    margin-top: 0.6rem;
  }

  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 1.8rem;
    padding-bottom: 0.6rem;
  }

  h3 {
    font-size: 0.36rem;
    font-weight: normal;
  }
}
