.homePage__main {
  height: 100vh;
  width: 45vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutMe__main {
  height: 100vh;
  width: 50vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

.workPage__main {
  height: 100vh;
  width: 50vw;
  margin: auto;
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: center;
  padding-top: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
  padding: 0;
  margin: 0;
  color: black;
}

h1 {
  font-family: "Space Mono", monospace;
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  padding-bottom: 0.4rem;
  font-family: "Raleway", sans-serif;
}

h3 {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  padding-bottom: 0.2rem;
}

h4,
p,
li {
  font-size: 0.6rem;
  font-family: "Raleway", sans-serif;
}

h5 {
  font-size: 0.5rem;
  font-family: "Raleway", sans-serif;
}

button {
  font-size: 0.5rem;
  font-family: "Raleway", sans-serif;
}

#homePage__avatar {
  width: 2rem;
  height: 2rem;
  border: 0.3rem solid black;
  border-radius: 3rem;
  margin-top: 1rem;
}

#homePage__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a img {
  width: 1rem;
  padding: 0.4rem;
}

.fa-envelope,
.fa-github {
  padding-top: 0.6rem;
  font-size: 0.8rem;
  color: black;
}

.workPage__buttons {
  width: 3rem;
  display: flex;
  flex-direction: column;
}

.workPage__buttons button:first-child {
  border-top: 1px solid black;
}

.workPage__buttons button {
  background-color: transparent;
  border: none;
  padding-bottom: 0.2rem;
  padding-top: 0.2rem;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.workPage__section {
  display: flex;
  flex-direction: row;
  height: 210px;
}

.workPage__sub_section {
  display: flex;
  flex-direction: row;
}

.workPage__roles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.workPage__roles p {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  margin-right: 0.5rem;
  margin-left: 0;
  background-color: gray;
  color: white;
  padding: 0.2rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  font-size: 0.5rem;
  margin-bottom: 0;
}

.workPage__description {
  padding-left: 1rem;
}

.workPage__description section {
  padding-left: 1.4rem;
}

.workPage__description p {
  text-align: justify;
}

.workPage__description ul {
  padding-left: 0;
}

.workPage__description section p {
  margin-top: 0;
}

.workPage__portfolio {
  padding-top: 0.8rem;
  padding-left: 0;
  display: flex;
  flex-direction: row;
}

.workPage__portfolio section {
  padding-left: 0;
  padding-right: 0.8rem;
  text-align: center;
}

.workPage__portfolio section p {
  text-align: center;
}

#workPage__portfolio_image {
  width: 4rem;
  border-radius: 2rem;
}

#workPage__portfolio_typology {
  font-size: 0.45rem;
}

#workPage__portfolio_stage {
  font-size: 0.45rem;
  font-weight: bold;
  margin-bottom: 0;
}
