.workPage__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  vertical-align: middle;
  position: fixed;
  top: 0;
  z-index: 100;
  background-image: url("../assets/img/shadow_background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h2,
h3 {
  padding-left: 10vw;
  padding-right: 10vw;
  margin: 0;
  color: black;
}

h2 {
  font-size: 2.4rem;
  padding-bottom: 1.2rem;
  font-family: "Raleway", sans-serif;
}

.workPage__main h3 {
  font-size: 0.7rem;
  font-family: "Raleway", sans-serif;
  padding-bottom: 1.2rem;
  text-align: justify;
}

.workPage_resume {
  top: 100vh;
  position: relative;
  z-index: 200;
}

.workPage_resume img {
  width: 95vw;
}

.workPage_resume a h3 {
  color: white;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  .workPage
__links {
    width: 2rem;
  }

  .fa-envelope,
  .fa-github {
    padding-top: 0.6rem;
    font-size: 0.6rem;
  }

  .material-icons {
    font-size: 0.6rem;
    padding-top: 0.6rem;
  }

  .workPage
__main {
    padding-top: 15%;
  }

  #workPage
__avatar {
    width: 2rem;
    height: 2rem;
    border: 0.4rem solid black;
    border-radius: 4rem;
    margin-top: 0.6rem;
  }

  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 1.8rem;
    padding-bottom: 0.6rem;
  }

  h3 {
    font-size: 0.36rem;
    font-weight: normal;
  }
} */
