@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Pacifico|Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap");

:root {
  font-size: 30px;
  margin: 0;
  border: 0;
}

.App {
  text-align: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

a:-webkit-any-link {
  color: white;
  text-decoration: none;
}

.introduction {
  background-image: url("./assets/img/homeBackground.jpg");
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
