@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Pacifico|Raleway&display=swap");

:root {
  background-color: #63af8ba6;
  font-size: 30px;
}

.App {
  text-align: center;
}

a:-webkit-any-link {
  color: white;
  text-decoration: none;
}
